extends layout

block content
  if account.isContract
    h3 Contract #{account.address}
  else
    h3 Account #{account.address}
  table.table
    tr
      td Balance:
      td #{ethformatter(account.balance)}
    if account.name
      tr
        td Name:
        td #{account.name}
